.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form-box {
  width: 350px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-box input {
  padding: 10px;
}

.form-box button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
}
