/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove blue default background */
body {
  background-color: #f4f6f9;  /* Light grey background */
  min-height: 100vh;
}

/* Center entire app */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
